<!DOCTYPE html>

{% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    
    <link rel="stylesheet" href="{% static "css/home.css" %}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">

  </head>
  <body>

<div class="container" align="center">
  <div class="jumbotron">

    <h1>Onlines Movies Rating</h1>
<p>Up to date movies information</p>
<a class = "btn btn-primary" href="/addmovie" role="button">
Add Movie</a>&nbsp&nbsp&nbsp&nbsp&nbsp

<a class = "btn btn-primary" href="/listmovies" role="button">
List Movies</a>

  </div>

</div>

  </body>
</html>
